* {
    box-sizing: border-box;
}

body {
    font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;    
    font-size: 16px;
    letter-spacing: .15rem;
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    flex: 1 1 auto;
    margin: .25rem auto;
}

form {
    flex: 1 1 auto;
    margin: .25rem auto;
    padding: .5rem;
    background-color: slategray;
    max-width: 950px;
    box-shadow: darkgrey 3px 3px 5px;
}

input, textarea {
    padding: .5rem;
    font-size: 1.3rem;
}

label {
    font-weight: 700;
}

