* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: .15rem;
}


main {
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-family: 'Luckiest Guy', cursive;
}

h1 {
    flex: 1 1 auto;
    margin: .25rem auto;
}

form {
    flex: 1 1 auto;
    margin: .25rem auto;
    padding: .5rem;
    background-color: slategray;
    max-width: 950px;
    box-shadow: darkgrey 3px 3px 5px;
}

input,
textarea {
    padding: .5rem;
    font-size: 1.3rem;
}

label {
    font-weight: 700;
}

figure {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border: 1px solid #bbb;
    background-color: #eee;
    padding: 5px;
}

figcaption {
    font-size: .85rem;
    font-variant-caps: all-petite-caps;
}