@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
  font-size: 16px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

header,
main,
footer {
  margin: 1rem;
  position: relative;
}

h1 {
  color: #000;
  border-bottom: 1px solid #eee;
  text-shadow: 0 0 15px #bbb;
  width: 60%;
}

h2 {
  color: blue;
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  color: #333;
  margin: 7px 0 5px 0;
}

p {
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

section {
  margin: 0.25rem;
  padding: 1rem;
  background-color: #eee;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

section>p {
  margin: 1rem;
  font-size: 0.85rem;

}

img {
  width: 275px;
  height: 250px;
  object-fit: cover;
  box-shadow: 0 0 30px #777;
  border: 1px solid #333;
}

li>img {
  width: auto;
  height: 30px;
}

footer {
  border-top: 1px solid #555;
  padding: 20px;
}

.key {
  position: absolute;
  top: .5rem;
  right: 3rem;
}

.key h6 {
  margin: 0;
  padding: 0;
}

.caption {
  border: 1px solid #ccc;
  background-color: lightyellow;
  padding: 0.35rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1rem 1fr;
}

.caption h6 {
  grid-columns: 1/3;
}

.caption>div {
  width: 0.75rem;
  height: 0.75rem;
  border: 1px solid #bbb;
}

.caption>p {
  font-size: 0.75rem;
  padding-left: .5rem;
}

.most {
  background-color: #bed;
}

.fav {
  background-color: skyblue;
}

.own {
  background-color: rosybrown;
}

.none {
  list-style: none;

}

.none li {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.none li img {
  width: 75px;
  height: 50px;
  object-fit: cover;
  border: 1px solid #333;
}