/* CSS Variables **/
  :root {
    --base: #bed;
    --spacing: 10px;
    --blur: 10px;
  }

body {
  text-align: center;
  background: #193549;
  color: #fff;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));

}

.he {
  color: var(--base);
  
}


